*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
   
    /* height: 300px; */
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}
body{
   
    /* background-color: lightcoral; */
    display: flex;
    flex-wrap: wrap;
   
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.sub1{ 
    width: 40px;
    height: 120px;
    background-color: lightcoral;
    border-radius: 20px;
    animation: x1 1s ease-in-out infinite;
    animation-delay: 0.8s;
    
   
}
@keyframes x1 {
   0%{
    height: 120px;
    background-color:lightcoral;
   }
   25%{
    background-color:  lightcoral;
   }
   50%{
    height: 250px;
     background-color: lightgreen;
   }
   100%{
    height: 120px;
     background-color:lightskyblue;
   }
  

}
.sub2{
    width: 40px;
    height: 120px;
    background-color: lightcoral;
    border-radius: 20px;
     animation: x2 1s ease-in-out infinite;
    animation-delay: 0.1s;
   
    
}
@keyframes x2 {
  0%{
    height: 120px;
    background-color: lightcoral;
   }
   25%{
    background-color:  lightcoral;
   }
   50%{
    height: 250px;
     background-color: lightgreen;
   }
   100%{
    height: 120px;
     background-color:lightskyblue;
   }

}
.sub3{
    width: 40px;
    height: 120px;
    background-color: lightcoral;
    border-radius: 20px;
    animation: x3 1s ease-in-out infinite;
    animation-delay: 0.3s;

}
@keyframes x3 {
   0%{
    height: 120px;
    background-color: lightcoral;
   }
   25%{
    background-color:  lightcoral;
   }
   50%{
    height: 250px;
     background-color: lightgreen;
   }
   100%{
    height: 120px;
     background-color:lightskyblue;
   }
}
.sub4{
      width: 40px;
    height: 120px;
    background-color: lightcoral;
    border-radius: 20px;
     animation: x4 1s ease-in-out infinite;
    animation-delay: 0.4s;
  
}
@keyframes x4 {
   0%{
    height: 120px;
    background-color: lightcoral;
   }
   25%{
    background-color:  lightcoral;
   }
   50%{
    height: 250px;
    background-color:lightskyblue;
}
100%{
    height: 120px;
    background-color: lightgoldenrodyellow;
   }

}




